/* main:first-of-type { */
body {
	display:none;
}

#print {
    background-image: url("https://frontdesk-cdn.inter.prod-toronto.ca/themes/toronto_ca/img/icon-print.svg");
}

#shareit {
    background-image: url("https://frontdesk-cdn.inter.prod-toronto.ca/themes/toronto_ca/img/icon-share.svg")
}

#torontopagecontent {
    margin-bottom: 20px;
}

#torontopagecontent .intl-tel-input {
	display:block;
}

div:not(.time) .button, div:not(.time) .mdc-button, a.action, button.action {
    margin-bottom: 10px;
    white-space: normal;
}

p.no-margin {
    margin: 0px;
}

div.time .btn {
    margin: 5px;
    white-space: normal;
}

div.time {
	display:inline;
}

.existing-reservation-block {
  background-color: #e5e5e5;
  border-radius: 5px;
  padding: 20px 20px 20px 30px;
}

.existing-reservation-block .col-sm-4 {
  text-align: right;
}

.existing-reservation-block .col-sm-4 a {
  white-space: normal;
}
